*{
    padding: 0;
    margin: 0;
}

.body{
    background: url("../bg.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scoreBox{
    position: absolute;
    top: 9px;
    right:108px;
    font-size: 39px;
    font-weight: bold;

}

#hiscoreBox{
    position: absolute;
    top: 44px;
    right: 30px;
    font-size: 39px;
    font-weight: bold;
}

#board{
    background: linear-gradient(rgb(41, 171, 5),rgb(171, 171, 23));
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head{
    background:linear-gradient(red,yellow);
    border: 2px solid rgb(34, 4, 34);
    transform:scale(1.02);
    border-radius: 9px;
}

.snake{
    /* background-color: purple; */
    background: linear-gradient(rgb(4, 43, 4),rgb(73, 78, 6));
    border: .25vmin solid rgb(30, 255, 10);
    border-radius: 12px;

}

.food{
    background: linear-gradient(red,purple);
    border: .25vmin solid black;
    border-radius: 8px;
}

.controls {
    display: none;
    justify-content: space-between;
}
.controls i {
    padding: 25px 0;
    text-align: center;
    font-size: 1.3rem;
    color:#88cbcb;
    width: calc(100% / 4);
    cursor: pointer;
    border-right : 4px solid rgba(6, 8, 6, 0.733);
    background: linear-gradient(rgb(21, 43, 20),rgb(50, 50, 14));
}

@media screen and (max-width: 800px) {
    .controls {
        display:flex;
        align-items: bottom;
        justify-content: end;
    }

    .controls i {
        padding: 15px 0;
        font-size: 1rem;
    }

    #board {
        width: 100%;
        height: 100vmin;
    }
    #scoreBox {
        font-size: 1.6rem;
    }
    #hiscoreBox {
        font-size: 1.6rem;
    }
    .body {min-height: 95vh;}
}

